html {
    font-family: "Roboto";
    color: #444444;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.desktop {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    margin-left: 24px;
    height: 64px;
}

.logo {
    display: flex;
    font-size: 32px;
    justify-content: center;
}

.logo p {
    display: flex;
    margin: 0;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    display: flex;
    margin: 0 16px;
    color: black;
    text-decoration: none;
    align-items: center;
    font-size: 18px;
}

.mobile {
    display: none;
}

.banner {
    display: flex;
    background-color: lightgray;
}

.left-banner {
    padding: 32px 24px;
    width: 60%;
}

.left-banner img {
    width: 100%;
}

.right-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 16px 24px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

button {
    padding: 16px 8px;
    width: 400px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #444444;
    color: white;
    border: none;
}

h2 {
    font-size: 30px;
}

.events {
    display: flex;
    background-color: #eee;
}

.left-events {
    padding: 32px 24px;
    width: 60%;
}

.left-events img {
    width: 100%
}

.left-events h3 {
    font-weight: 100;
}

.right-events {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right-events a {
    text-decoration: none;
}

.thesis-section img, .event img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.thesis-section, .event {
    display: flex;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary * {
    margin: 8px 0;
}

.majors {
    text-align: center;
    padding: 32px 40px;
    background-color: lightgray;
}

.majors h2 {
    margin: 0;
}

.first-line {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.second-line {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.major-section {
    width: 30%;
    margin: 32px 16px;
    background-color: white;
    text-align: left;
}

.major-section img{
    width: 100%;
    height: auto;
}

.major-section h3 {
    margin: 16px 16px 8px 16px;
}

.major-section p {
    margin: 24px 16px;
}

.capital {
    text-transform: uppercase;
    margin: 8px 16px;
}

.thesis {
    width: 100%;
    text-align: center;
    background-color: #eee;
    border-bottom: solid 1px lightgray;
}

.thesis h2 {
    padding: 32px 0;
    margin: 0;
}

.thesis-flex {
    display: flex;
}

.left-thesis {
    width: 60%;
    padding: 24px;
    text-align: left;
}

.left-thesis video {
    width: 100%;
}

.right-thesis {
    width: 40%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}

.privacy {
    display: flex;
}

.privacy a {
    text-decoration: none;
    color:#444444;
    margin: 0 16px;
}

@media only screen and (max-width: 768px) {

.desktop, .right-thesis, .left-thesis h2, .left-thesis h3, .privacy {
    display: none;
}

.mobile {
    display: unset;
}

header .mobile {
    display: flex;
    justify-content: space-evenly;
    height: 64px;
}

a img {
    height: 100%;
    width: auto;
}

.left-thesis, .thesis-flex, .events, .event, .banner, .first-line, .second-line {
    display: block;
    width: 100%;
}

.right-banner, .left-banner {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.left-banner img {
    width: 100%;
    height: auto;
    margin: 0 0 16px 0;
    padding: 0;
}

button, h1, h2 {
    margin: 16px 16px;
}

button {
    margin: 8px auto 16px auto;
    width: 90%;
}

.left-events {
    display: none;
}

.right-events, .majors {
    width: 90%;
    padding: 16px;
    background-color: #eee;
}

.right-events img {
    width: 100%;
    height: auto;
    margin: 0;
}

.summary {
    margin: 16px;
}

.major-section {
    display: block;
    width: 100%;
    margin: 0;
    background-color: #eee;
}

.major-section img, .major-section p {
    display: none;
}

.major-section h3 {
    width: 90%;
    padding: 16px 16px 24px 16px;
    margin: 8px 16px;
    background-color: lightgray;
}

.left-thesis {
    padding: 0;
}

}